/*

1rem = 16px; if html font size undefined

if html font size is 10px ?  1rem = 10px

10px / 16px * 100% = 62.5%


*/

html{
    /* font-size: 10px; */
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}

