@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");
/*

1rem = 16px; if html font size undefined

if html font size is 10px ?  1rem = 10px

10px / 16px * 100% = 62.5%


*/

html {
  /* font-size: 10px; */
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

/*******************************/
/* GENERAL REUSABLE COMPONENTS */
/*******************************/

.heading-primary {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;

  font-size: 1.6rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 5rem;
  text-decoration: none;

  transition: all 0.5s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

/*******************************/
/* HEADER */
/*******************************/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fdf2e9;
    
    height: 8.4rem;
    padding: 0 4.8rem;
}

.logo{
    height: 2.2rem;
}

/*******************************/
/* HERO */
/*******************************/

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 115rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-weight: 600;
  font-size: 1.4rem;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}
